.profileScreen {
  height: 100vh;
  color: #fff;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3%;
  max-width: 800px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__details {
  color: #fff;
  margin-left: 25px;
  flex: 1;
}

.profileScreen__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__signOut {
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 5%;
  width: 100%;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.profileScreen__plans {
  margin-top: 20px;
}

.profileScreen__plans > h3 {
  border-bottom: 1px solid #282c2d;
  padding-bottom: 10px;
}

.profileScreen__date {
  margin-top: 10px;
  text-align: left;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

.profileScreen__option {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.profileScreen__option:hover {
  filter: brightness(200%);
}

.profileScreen__quality {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: default;
}

.profileScreen__subscribe {
  padding: 8px 18px;
  font-size: 1rem;
  margin-top: 5%;
  width: fit-content;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.profileScreen__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profileScreen__info > img {
  height: 100px;
}
